
@model IEnumerable<coffee_shop.Models.UserModel>
@{
    ViewBag.Title = "Admin";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- design css file link  -->
<link rel="stylesheet" href="~/Content/Site.css">

<header class="header">

    <a href="#" class="logo">
        <img src="~/assets/images/logo.png" alt="">
    </a>

    <nav class="navbar">   
        <a href="#menu">Menu</a>
        <a href="#tables">Tables</a>
      

    </nav>


</header>



<!-- home section ends -->

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h1 class="heading"> our <span>menu</span> </h1>

    <div class="box-container">
        <div class="box">
            <img src="../assets/images/menu-1.png" alt="">
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <img src="../assets/images/menu-2.png" alt="">
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
            <img src="../assets/images/menu-3.png" alt="">
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="#" class="btn">add to cart</a>
        </div>


    </div>

</section>

<!-- menu section ends -->

<!-- book table section start -->

<section class="tables" id="tables">


    <h1 class="table_heading"> <span> Book your table: </span> </h1>

    <div class="inside_tables" id="inside">
        <h1 class="heading"> inside Tables: </h1>
        <div class="box-container">
            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>
                <a href="#" class="btn">Reserve!</a>
            </div>

            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>

                <a href="#" class="btn">Reserve!</a>
            </div>
            
        </div>





    </div>
    <div class="outside_tables" id="out">
        <h1 class="heading"> outside Tables: </h1>
        <div class="box-container">
            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>

                <a href="#" class="btn">Reserve!</a>
            </div>

            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>

                <a href="#" class="btn">Reserve!</a>
            </div>
            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>

                <a href="#" class="btn">Reserve!</a>
            </div>
            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>

                <a href="#" class="btn">Reserve!</a>
            </div>
            <div class="box">
                <img src="~/assets/images/table.png" alt="">
                <h3>Two persons table</h3>

                <a href="#" class="btn">Reserve!</a>
            </div>
        </div>

    </div>


</section>
<!-- book table section ends-->
<!-- footer section starts  -->

<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-instagram"></a>
    </div>

</section>

<!-- footer section ends -->
<!-- custom js file link  -->
<script>src = "~/Scripts/myFunctions/script.js</script>
<script>src = "~/Scripts></script>



