
@model IEnumerable<coffee_shop.Models.UserModel>
@{
    ViewBag.Title = "Barista";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Barista</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
