
@{
    ViewBag.Title = "Register";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/Content/Site.css">

</head>
<body>



    <section class="register" id="register">

        <h1 class="heading"> <span>Register</span> </h1>

        <div class="row">

            <form action="#" method="post">
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="First Name">
                </div>

                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="username">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="email">
                </div>

                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="number" placeholder="number">
                </div>

                <div class="inputBox">
                    <span class="fas fa-key"></span>
                    <input type="password" placeholder="Password">
                </div>


                <input type="submit" value="Register" onclick="return myFunction();" class="btn">
            </form>

        </div>

    </section>


    <script src="js/script.js"></script>

</body>
</html>