@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- design css file link  -->
    <link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
    <header class="header">

        <a href="#" class="logo">
            <img src="~/assets/images/logo.png" alt="">
        </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <a href="#location">location</a>
            <a href="#tables">bookTable</a>
            <a href="../Home/Register">Register</a>
            <a href="../Home/Login">Login</a>

        </nav>


    </header>



    <section class="home" id="home">

        <div class="content">
            <h3>BORED? SAD ? HAPPY ? COFFEE ALWAYS WORKS!!</h3>
            <p>we have the best coffee and shisha with (veritaty of flavors) in the city with one of the best services </p>
            <a href="#bookTable" class="btn">book your table now !!</a>
        </div>

    </section>

    <!-- home section ends -->
    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> <span>about</span> us </h1>

        <div class="row">

            <div class="image">
                <img src="../assets/images/about-img.jpeg" alt="">
            </div>

            <div class="content">
                <h3>what makes our coffee special?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus qui ea ullam, enim tempora ipsum fuga alias quae ratione a officiis id temporibus autem? Quod nemo facilis cupiditate. Ex, vel?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit amet enim quod veritatis, nihil voluptas culpa! Neque consectetur obcaecati sapiente?</p>
                <a href="#" class="btn">learn more</a>
            </div>

        </div>

    </section>

    <!-- about section ends -->
    <!-- menu section starts  -->

    <section class="menu" id="menu">

        <h1 class="heading"> our <span>menu</span> </h1>

        <div class="box-container">
            <div class="box">
                <img src="../assets/images/menu-1.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../assets/images/menu-2.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../assets/images/menu-3.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../assets/images/menu-4.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../assets/images/menu-5.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <img src="../assets/images/menu-6.png" alt="">
                <h3>tasty and healty</h3>
                <div class="price">$15.99 <span>20.99</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

        </div>

    </section>

    <!-- menu section ends -->
    <!-- location and navigation section start  -->

    <section class="location" id="location">

        <h1 class="heading"> <span>Navigate to our </span> Cafe</h1>

        <div class="row">

            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rahat,zone%204&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 600px;
                        }
                    </style><a href="https://www.embedgooglemap.net">use google maps on website</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 600px;
                        }
                    </style>
                </div>
            </div>
            <div class="content">
                <h3>Our Address</h3>
                <p>Rahat,</p>
                <p>Zone 4, Main street</p>
                <p>We have Free parking slots for our customers !!</p>

            </div>

        </div>

    </section>

    <!-- location and navigation -->
    <!-- book table section start -->

    <section class="tables" id="tables">


        <h1 class="table_heading"> <span> Book your table: </span> </h1>

        <div class="inside_tables" id="inside">
            <h1 class="heading"> inside Tables: </h1>
            <div class="box-container">
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>
                    <a href="#" class="btn">Reserve!</a>
                </div>

                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>

                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
            </div>




        </div>
        <div class="outside_tables" id="out">
            <h1 class="heading"> outside Tables: </h1>
            <div class="box-container">
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>

                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
                <div class="box">
                    <img src="~/assets/images/table.png" alt="">
                    <h3>Two persons table</h3>

                    <a href="#" class="btn">Reserve!</a>
                </div>
            </div>

        </div>


    </section>
    <!-- book table section ends-->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-instagram"></a>
        </div>

    </section>

    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script>src = "~/Scripts/myFunctions/script.js</script>
    <script>src = "~/Scripts></script>

</body>