<ul class="nav navbar-nav navbar-right">         <li>         @if (Session["CartCounter"] == null)
{@Html.ActionLink("Cart", "shoping", "Home", htmlAttributes: new { id = "cartitem" }) }
else
{ @Html.ActionLink("Cart", "shoping", "Home", htmlAttributes: new { id = "cartitem" })}     </li> </ul>
